<div class="outer-container">
   
    <div class="model-info">
        <div class="model">
            <div style="font-weight: bold;">
                Modell: 
            </div>
            {{this.cartItem.carModel.title}}
        </div>
        <div class="year">
            <div style="font-weight: bold;">
                År:
            </div>
            {{this.cartItem.carModel.modelCodes[0].year}}
        </div>
        <div (click)="removeProduct()" class="close">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="inner-container">
        <div class="image">
            <img [src]="img">
        </div>
        <div class="text">
            <div>
                {{mainText}}
            </div>
            <div>
                {{this.cartItem.product.price}} kr
            </div>
        </div>
        <div class="plus-minus">
            <mat-icon class="icon" (click)="remove()">remove_circle</mat-icon>
            <div class="plus-minus-amount">
                {{this.cartItem.amount}}
            </div>
            <mat-icon class="icon" (click)="add()">add_circle</mat-icon>

        </div>
        <div class="amount">
            <div>
                Total:
            </div>
            <div>
                {{this.cartItem.getFinalPrice()}} kr
            </div>
        </div>
    </div>
</div>