<div class="iframe-canvas">
    <div class="spinner-overlay" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>
    <iframe #IFrame (load)="onIframeLoaded(IFrame)" sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
        [src]="url$ | async | safe" loading="lazy" frameBorder="0"
        allow="clipboard-read; clipboard-write; geolocation"></iframe>

    <!-- <div *ngIf="showKeyboard" class="keyboard-container" (click)="parentClick()">
        <div (click)="childClick($event)" class="keyboard-container-inner">
            <app-iframe-keyboard (onClicked)="onKeyClick($event)"></app-iframe-keyboard>
        </div>
    </div> -->
</div>