<div class="acc-container">

    <div class="title">
        Sök tillbehör
    </div>

    <div class="rower">
        <div class="keyboardContainer">
            <div class="regnr">
                Sök bil på registreringsnummer
            </div>
            <div class="search">
                <div class="inner-search">
                    <accessories-search></accessories-search>
                </div>
            </div>
        </div>

        <!-- Vertical line divider -->
        <div class="vertical-line"></div>

        <div class="modelsContainer">
            <div class="model">
                Välj din modell
            </div>
            <div class="models">
                <accessories-models></accessories-models>
            </div>
        </div>
    </div>

</div>