<div class="lkb-main-container">
    <div class="swiper-main-container">
        <div class="image-navigation-wrapper no-click">
            <div (click)="prev()" class="icon-container">
                <mat-icon class="icon">navigate_before</mat-icon>
            </div>
            <div (click)="next()" class="icon-container">
                <mat-icon class="icon">navigate_next</mat-icon>
            </div>
        </div>
        <swiper #main [config]="mainConfig" (beforeTransitionStart)="onBeforeTransitionImage($event)">
            <ng-template swiperSlide *ngFor="let media of mediaList">
                <div class="swiper-slide">
                    
                    <img [src]="media.url" (error)="handleMissingImage(media)" alt="" >

                </div>
            </ng-template>

        </swiper>
    </div>
    <div class="swiper-list-container">
        <swiper #list [config]="thumbConfig">
            <ng-template swiperSlide *ngFor="let media of mediaList; index as i">
                <div (click)="onThumbnailClick(i)" class="swiper-slide-thumb">

                    <img [src]="media.url" (error)="handleMissingImage(media)" alt="" >

                </div>
            </ng-template>
            <div class="swiper-pagination"></div>
        </swiper>
    </div>
</div>