.inner-key {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;

    .inner-inner-key {
        width: 95%;
        height: 81%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        color: #696969;
        font-family: var(--fontRegular);
        font-size: 15px;
        font-weight: bold;
        background-color: none;
    }
}
.inner-key.active {
    background-color: gray !important;
}

.inner-key.active .inner-inner-key {
    background-color: gray !important;
}